body{margin:0;}
main{
    height: 100vh;
}
.container {
    display: flex;
    justify-content: space-evenly;
    background-color: #fac20957;
  }
.blockquote{
    max-width: 20%;
}
.blockquote > footer{
    font-size:0.6em
}
.blockquote>p{
    font-size:0.8em
}


#navbar-brand{ 
  display:inline-flex;
font-family: 'Playfair Display', serif;
}
.btn-group {
    margin-left: 20px;
  }
  
  .btn {
    margin-bottom: 10px;
  }
