body{margin:0;}
main{
    height: 100vh;
}
.container {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(250, 194, 9, 0.342);
  }
.blockquote{
    max-width: 30%;
}
.blockquote > footer{
    font-size:0.6em
}
.blockquote>p{
    font-size:0.8em
}


#navbar-brand{
margin:0 auto;
font-size:4em ;
font-family: 'Quattrocento', serif;;
}

.btn-group {
    margin-left: 20px;
  }
  
  .btn {
    margin-bottom: 10px;
  }
