#modal-ajout {
    position: fixed;
    display: flex;
    background-color: #f0c987;
    border: 7px solid #e3b973;
    box-shadow: 0px 8px 35px rgba(0, 0, 0, 0.16);
    height: 42rem;
    width: 35rem;
    transform: translate(-50%, -50%);
    margin-left: 50%;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

#modal-close-btn {
    position: absolute;
    right: 0;
    top: 0;
    width: 1rem;
    height: 1rem;
    cursor: pointer
}

.label-input-group {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    background-color: pink;
}

.input-label {
    background-color: #f5a61e;
    border: 2px solid #d99217;
    border-style: dashed;
    width: 100%;
    text-align: center;

}
.short-field-group{
    display:flex;
    justify-content: space-around;
   
}
